button {
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  border-radius: 4px;
}

body {
  font-family: sans-serif;
  margin: 3rem;
  background-color: #dfdfdf;
  
}
